//fonts
$font--family: 'Montserrat', sans-serif;

//paleta
$font-card: #019851;
$color-section: rgba(255,255,255,.4); //gris
/*
gris hover: #4f4f4f
gris claro: #dedede
celeste: #4facd3
naranja: #ddb146
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35)
verde precios: #86b773
celeste precios: #4c8dce
*/

//Redes sociales
/*
facebook: #3b5998
twitter: #55acee
youtube: #cd201f
*/